*,
html,
body{
    padding:0;
    margin: 0;
    font-family: "", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Definitions*/
:root {
    
  }

/*Settings*/
body{
    
}
.container{
    width: 1240px;
    max-width: 99vw;
    margin: 0 auto;
}
/*Elements*/
h1{
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
}
h2{
    font-size: 46px;
    font-weight: 700;
}
h3{
    font-size: 34px;
    font-weight: 700;
}
h4{
    font-size: 28px;
    font-weight: 600;
}
h5{
    font-size: 23px;
    font-weight: 600;
}
h6{
    font-size: 20px;
    font-weight: 600;
}
.btn{
    padding: 8px 24px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.25s ease;
    margin: 8px 0;
}
.btn:hover{
    padding: 8px 32px;
}
.btn.solid{
    background-color: var(--rot);
    color: #ffffff;
    border: none;
}
.btn.outline{
    background-color: unset;
    color: var(--rot);
    border: 2px solid var(--rot);
}