*,
html,
body{
    padding:0;
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    color: var(--white);
}

/*Definitions*/
:root {
    /*Colors*/
    --orange: #F29509;
    --black: #090909;
    --white: #ffffff;
    --rot: #730202;
    /*Radius*/
    --radiusS: 6px;
    --radiusM: 12px;
    --radiusL: 42px;
  }

/*Settings*/
body{
    background-color: var(--black);
}
.container{
    width: 743px;
    max-width: 99vw;
    margin: 0 auto;
}

/*Elements*/
h1{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h2{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.heroTitle{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow: 0px 4px 10px var(--black);
}
.heroSubtitle{
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-shadow: 0px 4px 10px var(--black);
}
p,.lauftext{
    font-size: 14px;
    font-weight: 400;
}
.btn{
    padding: 8px 54px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--orange);
    transition: 0.25s ease;
}
.btn:hover{
    filter: drop-shadow(0px 0px 30px #000);
}


/*START Header*/
#header{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.4);
    position: sticky;
}

#header .logo{
    width: 122px;
}

#header .badge{
    background-color: rgba(242, 149, 9, 0.5);
    padding: 4px 10px;
    border-radius: var(--radiusS);
    font-size: 16px;
    font-weight: 300;
}
#header .right{
    display: flex;
    align-items: center;
    gap: 15px;
}
#header .right .menuIcon{
    width: 20px;
}
#header .right .userIcon{
    width: 29px;
}

/*START Hero*/
.hero{
    height: 368px;
    border-radius: 0px 0px 43px 43px;
    background: linear-gradient(0deg, rgba(2, 2, 2, 0.60) 0%, rgba(0, 0, 0, 0.00) 100%), url(img/background-hero.jpg) lightgray 50% / cover no-repeat;
    border-radius: 0px 0px 43px 43px;
    border-bottom: 1px solid #F29509;
    overflow: hidden;
}
.heroInner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    background: url(img/confetti.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.heroInner .text{
    display: flex;
    flex-direction: column;
}

.separator{
    width: 100%;
    height: 4px;
    background-color: var(--orange);
    margin: 12px 0;
}

/*START Content*/
.selection{
    padding: 65px 0;
}
.selection h1{
    margin-bottom: 27px;
}
.selection .grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px;
}
@media (max-width: 900px){
    .selection .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
.selection .card{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    border: 1px solid #F29509;
    height: 179px;
    display: flex;
    align-items: end;
}
.selection .card .card-inner{
    padding: 22px 26px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.selection .card:nth-child(1){
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 100%), url(img/box-4.jpg) lightgray 50% / cover no-repeat;
}
.selection .card:nth-child(2){
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 100%), url(img/box-3.jpg) lightgray 50% / cover no-repeat;
}
.selection .card:nth-child(3){
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 100%), url(img/box-2.jpg) lightgray 50% / cover no-repeat;
}
.selection .card:nth-child(4){
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 100%), url(img/box-1.jpg) lightgray 50% / cover no-repeat;
}
.selection .card ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

/*START Practice*/
.practice h1{
    margin-bottom: 27px;
}
.practice .grid-container{
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 37px;
}
@media (max-width: 900px){
    .practice .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
.practice .card{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    border: 1px solid #F29509;
    height: 288px;
    display: flex;
    align-items: end;
}
.practice .card .card-inner{
    padding: 30px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.practice .card:nth-child(1){
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 100%), url(img/practice-1.png) lightgray 50% / cover no-repeat;
}
.practice .card:nth-child(2){
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 100%), url(img/practice-2.png) lightgray 50% / cover no-repeat;
}

/*START Footer*/
footer{
    padding:15px;
    border-top: 1px solid #00000020;
}
