*,
html,
body{
    padding:0;
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    color: var(--white);
}

/*Definitions*/
:root {
    /*Colors*/
    --orange: #F29509;
    --black: #090909;
    --white: #ffffff;
    --rot: #730202;
    /*Radius*/
    --radiusS: 6px;
    --radiusM: 12px;
    --radiusL: 42px;
  }

/*Settings*/
body{
    background-color: var(--black);
}
.container{
    width: 743px;
    max-width: calc(100vw - 32px);
    margin: 0 auto;
    padding: 0 16px;
}

/*Elements*/
h1{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h2{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.heroTitle{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow: 0px 4px 10px var(--black);
}
.heroSubtitle{
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-shadow: 0px 4px 10px var(--black);
}
p,.lauftext{
    font-size: 14px;
    font-weight: 400;
}
.btn{
    padding: 8px 54px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--orange);
    transition: 0.25s ease;
}
.btn:hover{
    filter: drop-shadow(0px 0px 30px var(--black));
}


/*START Header*/
header{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    z-index: 99;
    margin-bottom: -67px;
}

#header .logo{
    width: 122px;
}

#header .badge{
    background-color: rgba(242, 149, 9, 0.5);
    padding: 4px 10px;
    border-radius: var(--radiusS);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.2s ease;
}
#header .center{
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    padding: 0 40px;
}
#header .center .addMore{
    background-color: rgba(242, 149, 9, 0.5);
    border-radius: var(--radiusL);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    transition: all 0.2s ease;
}
#header .center .addMore svg{
    width: 16px;
    fill: var(--white);
}
#header .right{
    display: flex;
    align-items: center;
    gap: 15px;
}
#header .right .menuIcon{
    width: 20px;
}
#header .right .userIcon{
    width: 29px;
}
/*START MegaMenu*/
.megaMenu{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(12px);
    z-index: 99;
    transition: all 0.2s ease;
}
.megaMenu .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.megaMenu .navLinks{
    display: flex;
    flex-direction: column;
}
.megaMenu .navLinks > span{
    width: fit-content;
}
.megaMenu .navLinks a{
    font-size: 46px;
    font-weight: 700;
    text-decoration: none;
    color: var(--white);
    transition: 0.2s ease;
}
.megaMenu .underline{
    width: 1%;
    height: 5px;
    background-color: var(--orange);
    display: block;
    opacity: 0;
    transition: all 0.4s ease;
}
.megaMenu .navLinks li {
    display: inline-block;
}
.megaMenu .card{
    background: linear-gradient(0deg, var(--black) 0%, rgba(0, 0, 0, 0.00) 100%), url(img/addict.jpg) lightgray 50% / cover no-repeat;
    border-radius: var(--radiusM);
    border: 1px solid #F29509;
    min-height: 250px;
    max-height: 900px;
    height: 50vh;
    display: flex;
    align-items: end;
    transition: 0.2s ease;
}
.megaMenu .card-inner{
    padding: 30px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.megaMenu .card h3{
    transition: all 0.2s ease;
}

/*START Footer*/
footer{
    background-color: var(--orange);
    padding: 18px 0;
}
footer .container{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
}
footer .socials{
    color: var(--black);
    width: 18px;
}

/*START Hero*/
.hero{
    height: 368px;
    border-radius: 0px 0px 43px 43px;
    background: linear-gradient(0deg, rgba(2, 2, 2, 0.60) 0%, rgba(0, 0, 0, 0.00) 100%), url(img/background-hero.jpg) lightgray 50% / cover no-repeat;
    border-radius: 0px 0px 43px 43px;
    border-bottom: 1px solid #F29509;
    overflow: hidden;
    position: relative;
    z-index: 9;
}
.heroInner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    background: url(img/confetti.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.heroInner .text{
    display: flex;
    flex-direction: column;
    margin-top: 67px;
}

.separator{
    width: 100%;
    height: 4px;
    background-color: var(--orange);
    margin: 12px 0;
}

/*START Content*/
.content{
    padding: 50px 0 100px 0;
    background: url(img/background-blurred.png) center -400px / cover repeat;
    margin-top: -50px;
}
.selection{
    padding: 65px 0;
}
.selection h1{
    margin-bottom: 27px;
}
.selection .grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px;
}
@media (max-width: 900px){
    .selection .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
.selection .card{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: var(--radiusM);
    border: 1px solid #F29509;
    height: 179px;
    display: flex;
    align-items: end;
    transition: 0.2s ease;
}
.selection .card .card-inner{
    padding: 22px 26px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.selection .card:nth-child(1){
    background: linear-gradient(0deg, var(--black) 0%, rgba(0, 0, 0, 0.00) 100%), url(img/box-4.jpg) lightgray 50% / cover no-repeat;
}
.selection .card:nth-child(2){
    background: linear-gradient(0deg, var(--black) 0%, rgba(0, 0, 0, 0.00) 100%), url(img/box-3.jpg) lightgray 50% / cover no-repeat;
}
.selection .card:nth-child(3){
    background: linear-gradient(0deg, var(--black) 0%, rgba(0, 0, 0, 0.00) 100%), url(img/box-2.jpg) lightgray 50% / cover no-repeat;
}
.selection .card:nth-child(4){
    background: linear-gradient(0deg, var(--black) 0%, rgba(0, 0, 0, 0.00) 100%), url(img/box-1.jpg) lightgray 50% / cover no-repeat;
}
.selection .card ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

/*START Practice*/
.practice h1{
    margin-bottom: 27px;
}
.practice .grid-container{
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 37px;
}
@media (max-width: 900px){
    .practice .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
.practice .card{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: var(--radiusM);
    border: 1px solid #F29509;
    height: 288px;
    display: flex;
    align-items: end;
    transition: 0.2s ease;
}
.practice .card .card-inner{
    padding: 30px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.practice .card:nth-child(1){
    background: linear-gradient(0deg, var(--black) 0%, rgba(0, 0, 0, 0.00) 100%), url(img/practice-1.png) lightgray 50% / cover no-repeat;
}
.practice .card:nth-child(2){
    background: linear-gradient(0deg, var(--black) 0%, rgba(0, 0, 0, 0.00) 100%), url(img/practice-2.png) lightgray 50% / cover no-repeat;
}
.practice .separator{
    max-width: 150px;
    height: 2px;
}

/*Effects*/
.selection .card:hover,
.practice .card:hover,
.megaMenu .card:hover{
    filter: drop-shadow(0 0 24px #00000096);
}
.selection .card:hover h3,
.practice .card:hover h3,
.megaMenu .card:hover h3{
    color: var(--orange);
}

.selection .card h3,
.practice .card h3{
    transition: color 0.2s ease;
}
#header .center .addMore{
    display: none;
}
#header .center:hover .addMore{
    display: flex;
}
#header .center .addMore:hover{
    background-color: var(--orange);
}
.megaMenu .navlinks > span:hover .underline{
    width: 100%;
    opacity: 1;
}